---
---

body {
	padding-top: 70px;
	padding-bottom: 70px;
	background-attachment: fixed;
	background-image: url('{{ site.baseurl }}/images/stripe.png');
}

section {
	padding-top: 70px;
	margin-top: -70px;
}

.btn {
	margin-bottom: 5px;
}

@media (max-width: 480px) {
	.container {
		padding-left: 0px;
		padding-right: 0px;
	}
}
