---
---

body {
	padding-top: 70px;
	padding-bottom: 70px;
	background-image: url('{{ site.baseurl }}/images/stripe.png');
}

section {
	padding-top: 70px;
	margin-top: -70px;
}

.footer {
	color: #fff;
	text-align: center;
}

.footer a {
	color: #18bc9c;
}

.footer a:visited {
	color: #18bc9c;
}

.footer p {
	margin: 0;
}

.btn-tag {
	margin-bottom: 5px;
	color: #551a8b;
}

.btn-tag:hover {
	color: #551a8b;
	border-color: #18bc9c;
	background-color: #18bc9c;
}

.post-title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 1.5em;
	color: inherit;
}

.post-title a {
	text-decoration: none;
	color: inherit;
}


.post-title-heading:hover {
	background-color: #128f76;
}

a:visited {
	color: #551a8b;
}
