---
layout: default
---

{% for post in paginator.posts %}
<div class="article">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="post-title">
				<a href="{{ site.baseurl}}{{ post.url }}">
					{{ post.title }}
				</a>
			</h1>
		</div>
		<div class="panel-body">
			{% include posttags.html post=post %}
			{% if site.comments == true and post.comments == true and site.disqus != '' %}
				<p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread">Comments</a></p>
			{% endif %}
			<div class="content">
				{{ post.excerpt }}
				<p style="text-align: right">
				<a href="{{ site.baseurl}}{{ post.url }}#more"
					class="btn btn-primary">Read More</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<div class="pagination">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a class="btn btn-default"
				href="{{ site.baseurl}}/index.html"
				class="previous">Newer
			</a>
		{% else %}
			<a class="btn btn-default"
				href="{{ site.baseurl}}/page{{ paginator.previous_page }}"
				class="previous">Newer
			</a>
		{% endif %}
	{% endif %}
	<span class="page_number ">
		Page: {{ paginator.page }}
		of {{ paginator.total_pages }}
	</span>
	{% if paginator.next_page %}
		<a class="btn btn-default"
			href="{{ site.baseurl}}/page{{ paginator.next_page }}"
			class="next">Older
		</a>
	{% endif %}
</div>
