{% include open-panel.html %}
	<h1 class="panel-title">
			<a href="{{ include.post.url }}">
				{{ include.post.title }}
			</a>
		</h1>
	</div>
	<div class="panel-body">
		{% if include.post.date %}
			<div class="btn-group">
				<a class="btn btn-success btn-xs btn-tag fa fa-calendar"
					href="/archive/{{ include.post.date | date: '%Y' }}.html"></a>
				<a class="btn btn-success btn-xs"
					href="/archive/{{ include.post.date | date: '%Y' }}.html">
					{{ include.post.date | date: '%d/%m/%Y' }}
				</a>
			</div>
		{% endif %}
		{% for tag in include.post.tags %}
			<div class="btn-group">
				<a class="btn btn-success btn-xs btn-tag fa fa-tag"
					href="/tags/{{ tag | downcase | replace: ' ', '-' }}.html"></a>
				<a class="btn btn-success btn-xs"
					href="/tags/{{ tag | downcase | replace: ' ', '-' }}.html">
						{{ tag }}
				</a>
			</div>
		{% endfor %}
		{% if site.comments == true and include.post.comments == true and site.disqus != '' %}
		<div class="btn-group">
			<i class="btn btn-success btn-xs btn-tag fa fa-comments"></i>
			<a class="btn btn-success btn-xs post-btn"
				href="{{ include.post.url }}#disqus_thread">
				Comentários
			</a>
		</div>
		{% endif %}
