<div class="panel panel-primary">
	<div class="panel-body">
	{{ site.description }}
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Recent Posts</h3>
	</div>
	<div class="panel-body sidebar">
		<ul>
			{% for post in site.posts limit:5 %}
			<li><a href="{{ site.baseurl}}{{ post.url }}">
				{{ post.title }}
			</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Links</h3>
	</div>
	<div class="panel-body sidebar">
		{% include links-list.html %}
	</div>
</div>
