a.list-group-item { color: #18bc9c; }
a.list-group-item:hover, a.list-group-item:focus { color: #18bc9c; }
.panel { border-radius: 0px; }
.panel-heading { border-top-right-radius: 0px; border-top-left-radius: 0px; }
.panel-group .panel { border-radius: 0px; }
a:visited { color: #551a8b; }
p { text-align: justify; margin-top: 20px; }
.navbar { min-height: 45px; }
.navbar-nav > li > a, .navbar-brand { padding-top: 10px; padding-bottom: 10px; height: 45px; }
.navbar-toggle { margin-top: 5px; margin-bottom: 5px; }
.navbar-brand > img { display: inline; }
.navbar-right { margin-right: 0px; }
body {
	padding-top: 55px;
	padding-bottom: 55px;
	background-attachment: fixed;
	background-image: url('{{ site.baseurl }}/images/stripe.png');
}
#more {
	padding-top: 55px;
	margin-top: -55px;
}

.btn {
	margin-bottom: 5px;
}

@media (max-width: 480px) {
	.container {
		padding-left: 0px;
		padding-right: 0px;
	}
}
