.icon-tags,
.icon-tag,
.icon-previous,
.icon-post,
.icon-next,
.icon-github,
.icon-feed,
.icon-comments,
.icon-calendar,
.icon-bullet_down,
.icon-archive,
.icon-about{
	background-image:url('{{ site.baseurl }}/images/icons.png');
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle
}
.icon-tags{background-position:0px 0px}
.icon-tag{background-position:-16px 0px}
.icon-previous{background-position:0px -16px}
.icon-post{background-position:-16px -16px}
.icon-next{background-position:-32px 0px}
.icon-github{background-position:-32px -16px}
.icon-feed{background-position:0px -32px}
.icon-comments{background-position:-16px -32px}
.icon-calendar{background-position:-32px -32px}
.icon-bullet_down{background-position:-48px 0px}
.icon-archive{background-position:-48px -16px}
.icon-about{background-position:-48px -32px}
