---
layout: default
---

{% include open-panel.html %}
		<h1 class="panel-title">
			<i class="fa fa-calendar"></i>
			<a href="/archive/{{ page.title }}.html">
				{{ page.title }}
			</a>
			<i class="fa fa-archive pull-right"></i>
			<a class="pull-right" href="/archive/">Arquivo geral</a>
		</h1>
	</div>
</div>

{% for post in site.posts %}
	{% capture postyear %}
		{{ post.date | date: '%Y' }}
	{% endcapture %}
	{% capture pageyear %}
		{{ page.title }}
	{% endcapture %}
	{% if postyear == pageyear %}
		{% include excerpt.html post=post %}
	{% endif %}
{% endfor %}
